body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.converter {
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 10px 0 5px;
}
